<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>VocabloxApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Esta aplicación necesita acceso a tu galería de fotos para seleccionar fondos personalizados.</string>
	<key>NSCameraUsageDescription</key>
	<string>Esta aplicación necesita acceso a la cámara para tomar fotos y usarlas como fondos personalizados.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
		<string>Quicksand-Bold.ttf</string>
		<string>Quicksand-Light.ttf</string>
		<string>Quicksand-Medium.ttf</string>
		<string>Quicksand-Regular.ttf</string>
		<string>Quicksand-SemiBold.ttf</string>
		<string>Merriweather_24pt-Black.ttf</string>
		<string>Merriweather_24pt-BlackItalic.ttf</string>
		<string>Merriweather_24pt-Bold.ttf</string>
		<string>Merriweather_24pt-BoldItalic.ttf</string>
		<string>Merriweather_24pt-ExtraBold.ttf</string>
		<string>Merriweather_24pt-ExtraBoldItalic.ttf</string>
		<string>Merriweather_24pt-Italic.ttf</string>
		<string>Merriweather_24pt-Light.ttf</string>
		<string>Merriweather_24pt-LightItalic.ttf</string>
		<string>Merriweather_24pt-Medium.ttf</string>
		<string>Merriweather_24pt-MediumItalic.ttf</string>
		<string>Merriweather_24pt-Regular.ttf</string>
		<string>Merriweather_24pt-SemiBold.ttf</string>
		<string>Merriweather_24pt-SemiBoldItalic.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-Black.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-BlackItalic.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-Bold.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-BoldItalic.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-ExtraBold.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-ExtraBoldItalic.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-Italic.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-Light.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-LightItalic.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-Medium.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-MediumItalic.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-Regular.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-SemiBold.ttf</string>
		<string>Merriweather_24pt_SemiCondensed-SemiBoldItalic.ttf</string>
		<string>GloriaHallelujah-Regular.ttf</string>
	</array>
</dict>
</plist>
